pppoe:
  lcp_echo_interval: 30
  lcp_echo_failure: 0
  server:
    users:
      username1:
        pass: password1
  client:   
    connection1:
      interface: eth0
      user: username1
      pass: password1
      maxfail: 0
