{% set map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['pppoe'],
        'conf_dir': '/etc/ppp',
        'cronjob_dir': '/etc/cron.d',
    },
}, grain='os', merge=salt['pillar.get']('pppoe:lookup')) %}
